.user-greet .profile-info .pfp-large, .search .sub-noti .profile, .search .search-bar .profile {
  background: url("/media/question.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  align-self: start;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.user-greet .profile-info .pfp-large:hover, .search .sub-noti .profile:hover, .search .search-bar .profile:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

* {
  font-family: "Roboto", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}

.sidebar {
  display: grid;
  row-gap: 2rem;
  align-items: center;
  background-color: #1992d4;
  color: white;
  padding: 10px;
}
.sidebar div {
  font-weight: 600;
}
.sidebar svg {
  width: 50px;
  height: 50px;
  fill: white;
  align-self: start;
}
.sidebar > div {
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.dash {
  display: grid;
  grid-template-columns: max-content 16px;
  grid-template-rows: max-content;
}

.text {
  align-self: center;
  justify-self: start;
  font-size: 23px;
}

#test {
  justify-self: start;
  align-self: center;
}

.option1, .option2 {
  display: grid;
  row-gap: 1.2rem;
  align-items: center;
  grid-template-columns: 50px auto; /* Adjusted the column widths */
}

.option1 {
  grid-template-rows: repeat(6, 1fr);
}
.option1 svg {
  justify-self: center;
  align-self: center;
  width: 20px;
  height: 20px;
}
.option1 div {
  font-size: 1rem;
  transition: 0.3s;
}
.option1 div:hover {
  cursor: pointer;
  opacity: 0.7;
  margin-left: 5px;
}

.content {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 4fr;
}

.user-head {
  padding-top: 3px;
  padding-left: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.search {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
  place-content: center;
}
.search .search-bar {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 30px;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  place-items: center;
}
.search .search-bar svg {
  width: 25px;
  height: 20px;
  margin-top: 2px;
}
.search .search-bar textarea {
  border: none;
}
.search .search-bar input {
  background-color: #e2e8f0;
  border: none;
  width: 400px;
  height: 20px;
  border-radius: 50px;
}
.search .search-bar .profile {
  width: 40px;
  height: 40px;
}
.search .sub-noti {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.search .sub-noti svg {
  width: 25px;
  height: 20px;
  margin-top: 8px;
}
.search .sub-noti svg:hover {
  cursor: pointer;
}
.search .sub-noti .profile {
  align-self: start;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.search .sub-noti .text {
  align-self: center;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.user-body {
  background-color: #e2e8f0;
}

.user-greet {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-column: 1/-1;
  align-items: center;
}
.user-greet .profile-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-row: 1/-1;
  grid-column: 1;
}
.user-greet .profile-info .pfp-large {
  width: 50px;
  height: 50px;
  align-self: center;
}
.user-greet .profile-info .textbox {
  line-height: 5px;
  align-self: first baseline;
}
.user-greet .profile-info h1 {
  font-size: 18px;
}
.user-greet .options button {
  border: none;
  background-color: #1992d4;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  font-weight: 500;
}
.user-greet .options {
  display: grid;
  grid-column: -1;
  margin-right: 50px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  grid-template-columns: repeat(3, 120px);
}
.user-greet .options button {
  padding: 0 10px;
  transition: 0.3s ease;
}
.user-greet .options button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.user-greet .options button:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */